@font-face {
  font-family: "iconfont"; /* Project id 2801899 */
  src: url('iconfont.woff2?t=1677051726129') format('woff2'),
       url('iconfont.woff?t=1677051726129') format('woff'),
       url('iconfont.ttf?t=1677051726129') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuojiantou_huaban:before {
  content: "\e63b";
}

.icon-theme:before {
  content: "\e661";
}

.icon-guanyuyu:before {
  content: "\e72c";
}

.icon-guanyu1:before {
  content: "\e72d";
}

.icon-shangchuan2:before {
  content: "\e72e";
}

.icon-shezhi1:before {
  content: "\e72f";
}

.icon-rili:before {
  content: "\e60b";
}

.icon-beisu:before {
  content: "\e6cc";
}

.icon-quyu:before {
  content: "\e648";
}

.icon-fumaliu:before {
  content: "\e6c5";
}

.icon-zhumaliu:before {
  content: "\e6c6";
}

.icon-shaixuan:before {
  content: "\e640";
}

.icon-guanyuwomen:before {
  content: "\e645";
}

.icon-qingkong:before {
  content: "\e6a3";
}

.icon-quanxuan:before {
  content: "\e600";
}

.icon-quxiaoshoucang:before {
  content: "\e630";
}

.icon-shoucang:before {
  content: "\e631";
}

.icon-bangzhuzhongxin:before {
  content: "\e683";
}

.icon-yijianfankui:before {
  content: "\e615";
}

.icon-shangchuan:before {
  content: "\e60a";
}

.icon-bianjianniu:before {
  content: "\e606";
}

.icon-shezhi-01:before {
  content: "\e62f";
}

.icon-gaoqing1:before {
  content: "\e62c";
}

.icon-biaoqing1:before {
  content: "\e62d";
}

.icon-guanbi1:before {
  content: "\e62e";
}

.icon-guangquanjia1:before {
  content: "\e61f";
}

.icon-guangquanjian1:before {
  content: "\e620";
}

.icon-jia1:before {
  content: "\e621";
}

.icon-jian:before {
  content: "\e622";
}

.icon-jujiao01:before {
  content: "\e623";
}

.icon-jujiao21:before {
  content: "\e624";
}

.icon-xiala01:before {
  content: "\e625";
}

.icon-xiala02:before {
  content: "\e626";
}

.icon-xialayuandian:before {
  content: "\e627";
}

.icon-yuntaifangxiang:before {
  content: "\e628";
}

.icon-yuntaifangxiang02:before {
  content: "\e629";
}

.icon-yuntaifangxiang03:before {
  content: "\e62a";
}

.icon-yuntaifangxiang04:before {
  content: "\e62b";
}

.icon-fangxiang-01:before {
  content: "\e61b";
}

.icon-fangxiang-02:before {
  content: "\e61c";
}

.icon-fangxiang-03:before {
  content: "\e61d";
}

.icon-fangxiang-04:before {
  content: "\e61e";
}

.icon-biaoqing:before {
  content: "\e613";
}

.icon-gaoqing:before {
  content: "\e614";
}

.icon-yigongge:before {
  content: "\e619";
}

.icon-sigongge:before {
  content: "\e61a";
}

.icon-black:before {
  content: "\e7dd";
}

.icon-white:before {
  content: "\e7de";
}

.icon-jia:before {
  content: "\e642";
}

.icon-bofang:before {
  content: "\e618";
}

.icon-shezhi_guanli:before {
  content: "\e660";
}

.icon-zantingtingzhi:before {
  content: "\e675";
}

.icon-sousuo:before {
  content: "\e641";
}

.icon-yonghuming:before {
  content: "\e612";
}

.icon-suozi:before {
  content: "\e63d";
}

.icon-guanbi:before {
  content: "\e608";
}

.icon-feiji:before {
  content: "\e616";
}

.icon-jiantou:before {
  content: "\e605";
}

.icon-star:before {
  content: "\e601";
}

.icon-guidangchaxun:before {
  content: "\e7b0";
}

.icon-fullscreen:before {
  content: "\e607";
}

.icon-yuntai:before {
  content: "\e60f";
}

.icon-zhuatu:before {
  content: "\e687";
}

.icon-52jingyin:before {
  content: "\e610";
}

.icon-shengyin-copy-copy:before {
  content: "\e603";
}

.icon-novigo_list:before {
  content: "\e659";
}

.icon-shipin:before {
  content: "\e71f";
}

.icon-shoucangjia:before {
  content: "\e8cf";
}

.icon-iconfonttubiao_shipinhuifang:before {
  content: "\e611";
}

.icon-gengduo:before {
  content: "\e602";
}

.icon-lujing1:before {
  content: "\e64d";
}

.icon-shijianjiankong:before {
  content: "\e798";
}

.icon-shijian:before {
  content: "\e6d9";
}

